[submodule "deps/m4ri"]
	path = deps/m4ri
	url = https://bitbucket.org/malb/m4ri
[submodule "deps/b63"]
	path = deps/b63
	url = https://github.com/okuvshynov/b63
[submodule "deps/fplll"]
	path = deps/fplll
	url = https://github.com/fplll/fplll
[submodule "deps/ska_sort"]
	path = deps/ska_sort
	url = https://github.com/skarupke/ska_sort
