[submodule "deps/m4ri"]
	path = deps/m4ri
	url = https://bitbucket.org/malb/m4ri
[submodule "deps/fplll"]
	path = deps/fplll
	url = https://github.com/fplll/fplll
[submodule "deps/ska_sort"]
	path = deps/ska_sort
	url = https://github.com/skarupke/ska_sort
[submodule "deps/b63"]
	path = deps/b63
	url = https://github.com/FloydZ/b63
[submodule "deps/Static-Sort"]
	path = deps/Static-Sort
	url = https://github.com/Vectorized/Static-Sort
[submodule "deps/cmake_optimize_for_architecture"]
	path = deps/cmake_optimize_for_architecture
	url = https://github.com/FloydZ/cmake_optimize_for_architecture.git
